<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template.ejs')  %>
    </head>
    <body>
        <div class="container-fluid p-0 parallaxAlbums">
            <%- include('partials/content.ejs')  %>
            
                <main>
                    <div class="row">

                    </div>
                    <div class="row h-50 alhambraText2">
                    </div>
                    <% data.forEach(el => { %>
                    <div class="row mb-5">
                        <div class="col-xs-block col-sm-9 col-md-7 col-lg-6 col-xl-5 w-100 d-flex justify-content-around align-items-center z20">
                            <a href="/albums/<%= el.shortname %> "><img src="<%= el.artwork %> " height="200px" alt=""></a>
                                <div class="bigShouldersFont">
                                    <a href="/albums/<%= el.shortname %> "><h4><%- el.albumname %></h4></a>
                                    <button type="button" data-target="#modal-edit-user-<%= el.albumID%>" class="btn btn-outline-danger buttonBackground alhambraText" data-toggle="modal"">
                                        Tracklist
                                    </button><br><br>
                                    <a href="<%= el.albumAM %> " target="_blank" style="display: inline-block; overflow: visible; border-radius: 13px; width: 83px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/app-icon-music/standard/en-US?size=83x83&h=8844d13154b9593dbb19fa4477b76b15" alt="App Icon Apple Music" style="border-radius: 13px; width: 33px; height: 33px;"></a>
                                    <a href="<%= el.albumSM %> " target="_blank" style="display: inline-block; overflow: visible; border-radius: 13px; width: 83px; height: 83px;"><img src="/images/Spotify_Icon_CMYK_Green.png" alt="Spotify Icon" style="border-radius: 13px; width: 33px; height: 33px;"></a><br>
                                </div>
                        </div>
                        <% if (pageID === 'individAlbum') { %>
                         
                            <div class="col-xs-block col-sm-3 col-md-5 col-lg-6 col-xl-7 d-flex justify-content-center align-items-center z20">
                                <p><h3 class="bigShouldersFont" id="summaryContainer"><%= el.summary %></h3> 
                                </p>
                                
                            </div>
                        <% } %>
                    </div>
                    
                    
                    <div class="modal fade buttonBackground" id="modal-edit-user-<%= el.albumID %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content bigShouldersWhite buttonBackground">
                            <div class="modal-header">
                            <h5 class="modal-title" id=""><%- el.name %> - <%- el.albumname %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <%- el.tracklist %>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <% }) %>
                    <div class="row">
                        <input style="height: 100px; width: 450px;" type="button" class="col-4 btn btn-info btn-outline-danger btn-rounded alhambraText z30 buttonBackground" value="join chat palace" onclick=" relocate_chat()">
                    </div>
                </main>
        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <%- include('partials/jsdefault.ejs')  %> 
    </body>
</html>